@model Data.Utils.LoginCredentials

@{
    ViewBag.Title = "Login";
}

<div class="container-forms">
    @using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "form-signin sma-login" }))
    {
        <h2 class="form-signin-heading">Please sign in</h2>

        <fieldset>
            @Html.AntiForgeryToken()
            @if (ViewBag.Message != null)
            {
                <p class="@ViewBag.MessageClass">
                    @ViewBag.Message
                </p>
            }
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
            <p></p>
            @Html.TextBoxFor(model => model.Pwd, new { @class = "form-control", @placeholder = "Password", type = "password" })
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </fieldset>
    }
    </div>
