<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/dashboard.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="nav-container" class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">ShowMeAround</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action()"><span class="glyphicon glyphicon-user"></span></a></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Dashboard")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="@Url.Action("Index", "Dashboard")"><span class="span1 glyphicon glyphicon-dashboard"></span>Dashboard</a></li>
                    <li><a href="@Url.Action("Matching", "Matching")"><span class="span1 glyphicon glyphicon-envelope"></span>Messages</a></li>
                    <li><a href="@Url.Action("Matching", "Matching")"><span class="span1 glyphicon glyphicon-globe"></span>Your Matches</a></li>
                    <li><a href="@Url.Action("", "")"><span class="span1 glyphicon glyphicon-user"></span>Edit profile</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        @RenderBody()
    </div>
    <footer class="footer">
        <div id="foot-container" class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year -  Show Me Around</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
