@model UI.Models.Matching
@{
    ViewBag.Title = "Matching";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="matches-container">
    @foreach (var item in ViewBag.MatchList as List<Data.Utils.Match>)
    {
        <br />
        <div class="container-fluid well">
            <div class="row">
                <div class="col-md-2">
                    <img src="http://www.gravatar.com/avatar/bbe8907c4b1ff6229e0ee5e140d7ce04?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" width="100" height="100" class="img-circle">
                </div>

                <div class="col-md-7 match-col-md-1" style="padding-left:40px;">
                    <h2>@Html.DisplayName(item.Guide.FirstName) @Html.DisplayName(item.Guide.LastName) (@Html.DisplayName(item.Guide.Age.ToString()))</h2>
                    <p>
                        <b>Speaks:</b> @String.Join(", ", item.Guide.Languages.Select(i => i.Name).ToArray())
                    </p>

                    <p>
                        <b>Interests:</b>
                        @String.Join(", ", item.Guide.Interests.Select(i => i.Name).ToArray())
                    </p>

                </div>

                <div class="col-md-1 match-col-md-1">
                    <div class="clearfix">
                        <div id="bluecircle" data-percent="@item.ScorePercentage.ToString()" class="small">
                        </div>
                    </div>
                    <br />
                    <button type="submit" name="Send request" value="Send request" id="btnSendRequest" class="btn btn-primary btn-xs gradient center-block">Send request</button>

                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    @Scripts.Render()
    @Scripts.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/percircle.js"></script>

    <script type="text/javascript">
        $(function () {
            $("[id$='circle']").perCircle();
            $("#custom").perCircle({
                text: "custom",
                percent: 27
            });
        });
    </script>
}