@model UI.Models.MeetUpModel
@{
    ViewBag.Title = "My Dashboard - Show Me Around";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-forms">
    <h1 class="page-header text-center" >Welcome to your dashboard!</h1>
    <h3 class="header text-center"> Here you can start a new trip!<br>Just pick where and when, and we will take care of the rest</h3>
    @using (Html.BeginForm("GetMatches", "Dashboard", FormMethod.Post))
    {
        <div class="form-signin col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Select your destination</h2>
                    <p>
                        @Html.DropDownListFor(model => model.Country, ViewBag.CountryList as IEnumerable<SelectListItem>, new { @class = "form-control", id = "countryList" })
                    </p>
                    <p>
                        <select id="City_Name" class="form-control" name="City.Name"></select>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-signin col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>When are you travelling?</h2>
                    <p class="col-md-2 h4" style="padding:0px;">From: </p>
                    <p class="col-md-10">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", id = "datepickerStart", @placeholder = "StartDate", type = "date", style = "height:42px" } })
                    </p>
                    <p class="col-md-2 h4" style="padding-left:0px;">To: </p>
                    <p class="col-md-10">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", id = "datepickerEnd", @placeholder = "EndDate", type = "date", style = "height:42px" } })
                    </p>
                </div>
            </div>
        </div>
        <div class="pull-right" style="margin-right:16px;"><button class="btn btn-success" type="submit">Save</button></div>
    }
</div>
@section Scripts {
    @Scripts.Render()
    @Scripts.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script language="javascript" type="text/javascript">

        function populateCities() {
            var country = $("#countryList :selected").text();

            $.ajax({
                url: "http://localhost:37550/CountryService.svc/cities/" + country + "/",
                dataType: "json",
                crossDomain: true,
                async: true,
                success: function (result) {
                    var cities = '';
                    //if (result.length > 0) {
                    $.each(result, function (i, object) {
                        var option = '<option>' + object.Name + '</option>';
                        cities += option;

                        console.log(cities);
                    });

                    var cityDropDown = $("#City_Name");
                    cityDropDown.html(cities);
                    //}

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
                complete: function () {
                    console.log("AJAX COMPLETE");
                }
            });
        }
        $("#countryList").change(populateCities);
    </script>
}