@model UI.Models.MeetUpModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var sentRequest = ViewBag.SentRequest as List<Data.MeetUp>;
    var receivedRequest = ViewBag.ReceivedRequest as List<Data.MeetUp>;
}
<link href="~/Content/meetup.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sent">Sent requests</a></li>
    <li><a data-toggle="tab" href="#received">Received requests</a></li>
</ul>

<div class="meetup-container tab-content">
    <div id="sent" class="row tab-pane fade in active">
        @if (ViewBag.SentRequest.Count == 0)
        {
            <h2>You haven't sent any request yet.</h2>
        }

        @for (int i = sentRequest.Count; i-- > 0;)
        {
            using (Html.BeginForm("Index", "MeetUp", new { id = sentRequest[i].Id }, FormMethod.Post))
            {
                string meetupClass;
                if (sentRequest[i].GuideState.ToString() == "Declined")
                {
                    meetupClass = "meetup-list meetup-list-rejected";
                }
                else
                {
                    meetupClass = "meetup-list";
                }

                <div class="@meetupClass">
                    <ul class="event-list">
                        <li>
                            <img src="http://www.gravatar.com/avatar/bbe8907c4b1ff6229e0ee5e140d7ce04?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" />
                            <div class="info">
                                <h2 class="title">@Html.DisplayName(sentRequest[i].Guide.FirstName) @Html.DisplayName(sentRequest[i].Guide.LastName)</h2>
                                <p class="desc">Traveling to: @Html.DisplayName(sentRequest[i].City)</p>
                                <p class="desc">Travel date: @Html.DisplayName(sentRequest[i].StartDate.ToString(@"dd\/MM\/yyyy")) - @Html.DisplayName(sentRequest[i].FinishDate.ToString(@"dd\/MM\/yyyy"))</p>
                                <br />
                                <ul>
                                    @if (sentRequest[i].GuideState.ToString() == "Undefined" || sentRequest[i].GuideState.ToString() == "Sent" || sentRequest[i].GuideState.ToString() == "Received")
                                    {
                                        <li title="MeetUp hasn't been confirmed." style="width:33%;">Status <span class="glyphicon glyphicon-question-sign"></span></li>
                                    }
                                    else if (sentRequest[i].GuideState.ToString() == "Accepted" || sentRequest[i].GuideState.ToString() == "Confirmed")
                                    {
                                        <li title="MeetUp has been confirmed." style="width:33%;">Status <span class="glyphicon glyphicon-ok" style="color:rgb(75, 110, 168)"></span></li>
                                    }
                                    else
                                    {
                                        <li title="MeetUp has been rejected." style="width:33%;">Status <span class="glyphicon glyphicon-remove" style="color:rgb(221, 75, 57)"></span></li>
                                    }

                                    <li style="width:34%;">Profile <span class="glyphicon glyphicon-user"></span></li>
                                    <li style="width:33%;">Message <span class="glyphicon glyphicon-envelope"></span></li>
                                </ul>
                            </div>
                            <div class="social">
                                <ul>
                                    <li class="cancel"><button onclick="return confirm('Are you sure?')" type="submit" name="action" title="Cancel request" value="delete" id="deleteRequest" class="btn btn-cancel" @{if (sentRequest[i].TravelerState.ToString() == "Declined") { <text> disabled="disabled" </text>  } }><span class="glyphicon glyphicon-remove"></span></button></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
        }
    }
    </div>


    <div id="received" class="row tab-pane fade">
        @if (ViewBag.ReceivedRequest.Count == 0)
        {
            <h2>You haven't received any request yet.</h2>
        }

        @for (int i = receivedRequest.Count; i-- > 0;)
        {
            string meetupClass;
            if (receivedRequest[i].GuideState.ToString() == "Declined" && receivedRequest[i].TravelerState.ToString() == "Declined")
            {
                meetupClass = "meetup-list meetup-list-rejected";
            }
            else
            {
                meetupClass = "meetup-list";
            }
            using (Html.BeginForm("Index", "MeetUp", new { id = receivedRequest[i].Id }, FormMethod.Post))
            {
                <div class="@meetupClass">
                    <ul class="event-list">
                        <li>
                            <img src="http://www.gravatar.com/avatar/bbe8907c4b1ff6229e0ee5e140d7ce04?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" />


                            <div class="info">
                                <h2 class="title">@Html.DisplayName(receivedRequest[i].Traveler.FirstName) @Html.DisplayName(receivedRequest[i].Traveler.LastName)</h2>
                                <p class="desc">Traveling to: @Html.DisplayName(receivedRequest[i].City)</p>
                                <p class="desc">Travel date: @Html.DisplayName(receivedRequest[i].StartDate.ToString(@"dd\/MM\/yyyy")) - @Html.DisplayName(receivedRequest[i].FinishDate.ToString(@"dd\/MM\/yyyy"))</p>
                                <br />
                                <ul>
                                    @if (receivedRequest[i].TravelerState.ToString() == "Undefined" || receivedRequest[i].TravelerState.ToString() == "Sent" || receivedRequest[i].TravelerState.ToString() == "Received")
                                    {
                                        <li title="MeetUp hasn't been confirmed." style="width:33%;">Status <span class="glyphicon glyphicon-question-sign"></span></li>
                                    }
                                    else if (receivedRequest[i].TravelerState.ToString() == "Accepted" || receivedRequest[i].TravelerState.ToString() == "Confirmed")
                                    {
                                        <li title="MeetUp has been confirmed." style="width:33%;">Status <span class="glyphicon glyphicon-ok" style="color:rgb(75, 110, 168)"></span></li>
                                    }
                                    else
                                    {
                                        <li title="MeetUp has been rejected." style="width:33%;">Status <span class="glyphicon glyphicon-remove" style="color:rgb(221, 75, 57)"></span></li>
                                    }
                                    <li style="width:34%;">Profile <span class="glyphicon glyphicon-user"></span></li>
                                    <li style="width:33%;">Message <span class="glyphicon glyphicon-envelope"></span></li>
                                </ul>
                            </div>
                            <div class="social">
                                <ul>
                                    <li class="cancel"><button onclick="return confirm('Are you sure?')" type="submit" title="Cancel request" name="action" formnovalidate value="delete" id="deleteRequest" class="btn btn-cancel cancel" @{if (receivedRequest[i].TravelerState.ToString() == "Declined") { <text> disabled="disabled" </text>  } }><span class="glyphicon glyphicon-remove"></span></button></li>
                                    <li class="accept"><button onclick="return confirm('Are you sure?')" type="submit" title="Accept request" name="action" value="accept" id="acceptRequest" class="btn btn-accept" @{if (receivedRequest[i].TravelerState.ToString() == "Confirmed" || receivedRequest[i].TravelerState.ToString() == "Declined") { <text> disabled="disabled" </text>  } }><span class="glyphicon glyphicon-ok"></span></button></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
        }
    }
    </div>

</div>
